.monospaced {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.info {
  text-align: start;
}
