.square {
  width: 30px;
  height: 30px;
  font-weight: bold;
  vertical-align: middle;
	text-align: center;
	text-decoration: none;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: white;
  font-size: 12px;
}

.square:hover {
  background: #1b7695;
}

.selected {
  background: yellow;
  color: black;
}
